<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <h1>Bowling Alley</h1>
        <p>This is the homepage for the bowling alley</p>
    </body>
</html>
